@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body,html{
    height: 1000px;
    background: white !important;
    overflow: visible !important;
 }
.phone-list-by-m-container{
    height: 1500px;
    overflow: visible !important;
}
.phone-list-by-m-holder{
    position: relative; 
    width: 90%; 
    height:auto;
    left:5%;
    top:15%;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    align-content:flex-start;
    align-items: flex-start;
}
.phone-list-by-m-holder>div{
    width:20%;
    height:280px;
   margin-right:34px;
   margin-left: 34px;
    margin-bottom:15px;
    margin-top: 15px;
  background: rgba(0,0,0,0.05);
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}
.phone-list-by-m-holder>div:hover{
    transform: scale(1.05);
    background: rgba(0,0,0,0.1);
    border-radius:5px;
}
.phone-list-by-m-holder>div>div:nth-child(1){
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-list-by-m-holder>div>div:nth-child(1)>img{
    display: block;
    max-width:180px;
    max-height:150px;
    width: auto;
    height: auto;
}
.phone-list-by-m-holder>div>div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left:15px;
    font-family: 'Roboto',sans-serif;
    font-size:15px;
    height:10%;
}
.phone-list-by-m-holder>div>div:nth-child(3){
    width: 100%;
    height:10%;     
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-right:20px;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.button-page-phone-list-by-m{
    position: relative;
    width:83%;
    height:40px;
    left:10%;
    top:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alata',sans-serif;
    font-weight: bold;
    color:blue;
}
.button-page-phone-list-by-m>button{
    border: none;
    background: white;
    cursor: pointer;
    font-size:16px;
    
    margin-right:10px;
    text-decoration: underline;
}
.button-page-phone-list-by-m>button:hover{
    font-weight: bold;
    transform: scale(1.1);
}
.disabled-btn{
    color:grey;
}
.disabled-btn:hover{
    transform: scale(1) !important;
    font-weight:500 !important;
}
.dir-des{
    position: relative;
    width:20%;
    height:35px;
    left:7%;
    top:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rotobo',sans-serif !important;
    font-weight: bold;
    color:black;
    text-transform: uppercase;
    background: rgba(0,0,0,0.12);
    border-radius: 10px;
    font-size:12px;
 }
 .not-found-txt{
     position: relative;
    font-family: 'Roboto',sans-serif;
    font-size:28px;
     width: 95%;
     left:4%;
     display: flex;
     justify-content: center;
 }